In [46]:
import pandas as pd
import numpy as np

<!-- The two primary data structures are Series and DataFrame.
A Series is a one-dimensional labeled array.
A DataFrame is a two-dimensional labeled data structure with columns of potentially different types. -->

In [39]:
s = pd.Series([16,22,13,42,53] , index=[1,2,3,4,5])

In [40]:
s

1    16
2    22
3    13
4    42
5    53
dtype: int64

In [41]:
df = pd.read_excel("Sample Data.xlsx")      # import excel worksheet

In [107]:
df.head()      # Returns Only First Five Rows

,Department,Name,Date of Birth,Salary,Date of Joining,Gender,Rating
0,IT,Rohan Mehta,1985-07-12,85000,2015-03-01,Male,4.0
1,HR,Sneha Kapoor,1990-11-23,60000,2018-07-15,Female,5.0
2,Finance,Arjun Verma,1978-02-05,120000,2012-09-30,Male,3.0
3,Marketing,Priya Singh,1988-06-19,75000,2016-01-20,Female,4.0
4,IT,Neha Sharma,1992-03-10,95000,2020-06-11,Female,5.0

In [108]:
df.tail()                     # Returns Only Last Five Rows

,Department,Name,Date of Birth,Salary,Date of Joining,Gender,Rating
27,Sales,Neeraj Gupta,1983-03-13,60000,2013-05-16,Male,2.0
28,Finance,Aarti Pandey,1995-06-25,115000,2022-01-20,Female,5.0
29,IT,Rahul Kapoor,1988-08-30,90000,2015-10-08,Male,4.0
30,Marketing,Divya Nair,1986-01-17,78000,2016-08-22,Female,3.0
31,HR,Sachin Yadav,1986-01-18,78000,2016-08-23,Female,3.0

In [44]:
df.describe()

             Date of Birth         Salary      Date of Joining     Rating
count                   32      32.000000                   32  32.000000
mean   1986-11-03 00:45:00   83281.250000  2016-03-31 02:15:00   3.687500
min    1975-08-17 00:00:00   55000.000000  2010-03-19 00:00:00   2.000000
25%    1983-01-02 00:00:00   68750.000000  2013-05-10 18:00:00   3.000000
50%    1987-01-10 12:00:00   78000.000000  2016-02-28 00:00:00   4.000000
75%    1991-01-12 00:00:00   92750.000000  2018-11-25 12:00:00   4.250000
max    1996-02-03 00:00:00  135000.000000  2022-03-22 00:00:00   5.000000
std                    NaN   21056.352003                  NaN   0.997982

## Playing With Data

In [78]:
df

,Department,Name,Date of Birth,Salary,Date of Joining,Gender,Rating
0,IT,Rohan Mehta,1985-07-12,85000,2015-03-01,Male,4
1,HR,Sneha Kapoor,1990-11-23,60000,2018-07-15,Female,5
2,Finance,Arjun Verma,1978-02-05,120000,2012-09-30,Male,3
3,Marketing,Priya Singh,1988-06-19,75000,2016-01-20,Female,4
4,IT,Neha Sharma,1992-03-10,95000,2020-06-11,Female,5
5,Sales,Amit Joshi,1983-12-01,55000,2013-04-25,Male,2
6,HR,Kavita Rao,1975-08-17,70000,2011-11-05,Female,3
7,Finance,Rajeev Nair,1980-09-30,110000,2014-08-18,Male,4
8,IT,Meena Pillai,1995-01-22,65000,2021-02-14,Female,5
9,Marketing,Vikram Das,1987-05-09,90000,2017-10-03,Male,3
10,Sales,Anjali Menon,1991-04-18,58000,2019-05-10,Female,4
11,HR,Deepak Reddy,1986-10-25,72000,2014-12-01,Male,3
12,IT,Swati Desai,1993-07-07,88000,2022-03-22,Female,5
13,Finance,Manish Tiwari,1979-01-15,135000,2010-08-30,Male,4
14,Marketing,Ritu Malhotra,1984-09-03,77000,2016-06-17,Female,3
15,IT,Kunal Bhatia,1990-12-11,92000,2018-11-09,Male,5
16,HR,Pooja Sinha,1987-03-29,68000,2013-07-21,Female,4
17,Sales,Nikhil Saxena,1982-06-06,59000,2012-02-28,Male,2
18,Finance,Tanya Roy,1994-08-14,110000,2020-10-05,Female,5
19,IT,Aditya Chauhan,1989-05-20,85000,2015-09-12,Male,3
20,Marketing,Ishita Ghosh,1996-02-03,70000,2021-07-30,Female,4
21,HR,Varun Khanna,1981-11-16,74000,2010-03-19,Male,3
22,Sales,Rakesh Patil,1976-04-27,62000,2011-06-23,Male,2
23,Finance,Shruti Jain,1992-09-08,125000,2019-01-14,Female,5
24,IT,Mohit Agarwal,1985-07-01,95000,2016-04-07,Male,4
25,Marketing,Simran Kaur,1990-10-19,80000,2017-12-11,Female,3
26,HR,Arvind Mishra,1978-05-05,69000,2012-09-01,Male,4
27,Sales,Neeraj Gupta,1983-03-13,60000,2013-05-16,Male,2
28,Finance,Aarti Pandey,1995-06-25,115000,2022-01-20,Female,5
29,IT,Rahul Kapoor,1988-08-30,90000,2015-10-08,Male,4
30,Marketing,Divya Nair,1986-01-17,78000,2016-08-22,Female,3
31,HR,Sachin Yadav,1986-01-18,78000,2016-08-23,Female,3

In [51]:
df["Department"]

0            IT
1            HR
2       Finance
3     Marketing
4            IT
5         Sales
6            HR
7       Finance
8            IT
9     Marketing
10        Sales
11           HR
12           IT
13      Finance
14    Marketing
15           IT
16           HR
17        Sales
18      Finance
19           IT
20    Marketing
21           HR
22        Sales
23      Finance
24           IT
25    Marketing
26           HR
27        Sales
28      Finance
29           IT
30    Marketing
31           HR
Name: Department, dtype: object

In [63]:
df[["Department","Name"]]

   Department            Name
0          IT     Rohan Mehta
1          HR    Sneha Kapoor
2     Finance     Arjun Verma
3   Marketing     Priya Singh
4          IT     Neha Sharma
5       Sales      Amit Joshi
6          HR      Kavita Rao
7     Finance     Rajeev Nair
8          IT    Meena Pillai
9   Marketing      Vikram Das
10      Sales    Anjali Menon
11         HR    Deepak Reddy
12         IT     Swati Desai
13    Finance   Manish Tiwari
14  Marketing   Ritu Malhotra
15         IT    Kunal Bhatia
16         HR     Pooja Sinha
17      Sales   Nikhil Saxena
18    Finance       Tanya Roy
19         IT  Aditya Chauhan
20  Marketing    Ishita Ghosh
21         HR    Varun Khanna
22      Sales    Rakesh Patil
23    Finance     Shruti Jain
24         IT   Mohit Agarwal
25  Marketing     Simran Kaur
26         HR   Arvind Mishra
27      Sales    Neeraj Gupta
28    Finance    Aarti Pandey
29         IT    Rahul Kapoor
30  Marketing      Divya Nair
31         HR    Sachin Yadav

In [60]:
df.iloc[2]

Department                     Finance
Name                       Arjun Verma
Date of Birth      1978-02-05 00:00:00
Salary                          120000
Date of Joining    2012-09-30 00:00:00
Gender                            Male
Rating                               3
Name: 2, dtype: object

In [103]:
df_2 = pd.read_excel("Sample_Data_2.xlsx")      # To access the excel file

In [ ]:
df_2

,Department,Name,Date of Birth,Salary,Date of Joining,Gender,Rating
0,IT,Rohan Mehta,1981-11-16,NaN,2017-11-16,Male,4.0
1,HR,Sneha Kapoor,1981-11-17,60000.0,2017-11-17,Female,5.0
2,Finance,Arjun Verma,1981-11-18,120000.0,2017-11-18,Male,3.0
3,Marketing,Priya Singh,1981-11-19,NaN,2017-11-19,Female,NaN
4,IT,Neha Sharma,1981-11-20,95000.0,2017-11-20,Female,5.0
5,Sales,Amit Joshi,1981-11-21,55000.0,2017-11-21,Male,2.0
6,HR,Kavita Rao,1981-11-22,70000.0,2017-11-22,Female,3.0
7,Finance,Rajeev Nair,1981-11-23,NaN,2017-11-23,Male,4.0
8,IT,Meena Pillai,1981-11-24,65000.0,2017-11-24,Female,5.0
9,Marketing,Vikram Das,1981-11-25,NaN,2017-11-25,Male,3.0
10,Sales,Anjali Menon,1981-11-26,58000.0,2017-11-26,Female,NaN
11,HR,Deepak Reddy,1981-11-27,72000.0,2017-11-27,Male,3.0
12,IT,Swati Desai,1981-11-28,88000.0,2017-11-28,Female,5.0
13,Finance,Manish Tiwari,1981-11-29,135000.0,2017-11-29,Male,4.0
14,Marketing,Ritu Malhotra,1981-11-30,77000.0,2017-11-30,Female,3.0
15,IT,Kunal Bhatia,1981-12-01,92000.0,2017-12-01,Male,5.0
16,HR,Pooja Sinha,1981-12-02,68000.0,2017-12-02,Female,4.0
17,Sales,Nikhil Saxena,1981-12-03,59000.0,2017-12-03,Male,2.0
18,Finance,Tanya Roy,1981-12-04,NaN,2017-12-04,Female,NaN
19,IT,Aditya Chauhan,1981-12-05,85000.0,2017-12-05,Male,3.0
20,Marketing,Ishita Ghosh,1981-12-06,NaN,2017-12-06,Female,4.0
21,HR,Varun Khanna,1981-11-16,74000.0,2017-12-07,Male,3.0
22,Sales,Rakesh Patil,1981-11-17,62000.0,2017-12-08,Male,2.0
23,Finance,Shruti Jain,1981-11-18,125000.0,2017-12-09,Female,5.0
24,IT,Mohit Agarwal,1981-11-19,95000.0,2017-12-10,Male,4.0
25,Marketing,Simran Kaur,1981-11-20,80000.0,2017-12-11,Female,3.0
26,HR,Arvind Mishra,1981-11-21,69000.0,2017-12-12,Male,NaN
27,Sales,Neeraj Gupta,1981-11-22,60000.0,2017-12-13,Male,2.0
28,Finance,Aarti Pandey,1981-11-23,115000.0,2017-12-14,Female,NaN
29,IT,Rahul Kapoor,1981-11-24,90000.0,2017-12-15,Male,4.0
30,Marketing,Divya Nair,1981-11-25,78000.0,2017-12-16,Female,3.0
31,HR,Sachin Yadav,1981-11-26,78000.0,2017-12-17,Female,3.0

In [ ]:
df_2.fillna("Not Available")    # Fill the NaN with deisred elements.

,Department,Name,Date of Birth,Salary,Date of Joining,Gender,Rating
0,IT,Rohan Mehta,1981-11-16,Not Available,2017-11-16,Male,4.0
1,HR,Sneha Kapoor,1981-11-17,60000.0,2017-11-17,Female,5.0
2,Finance,Arjun Verma,1981-11-18,120000.0,2017-11-18,Male,3.0
3,Marketing,Priya Singh,1981-11-19,Not Available,2017-11-19,Female,Not Available
4,IT,Neha Sharma,1981-11-20,95000.0,2017-11-20,Female,5.0
5,Sales,Amit Joshi,1981-11-21,55000.0,2017-11-21,Male,2.0
6,HR,Kavita Rao,1981-11-22,70000.0,2017-11-22,Female,3.0
7,Finance,Rajeev Nair,1981-11-23,Not Available,2017-11-23,Male,4.0
8,IT,Meena Pillai,1981-11-24,65000.0,2017-11-24,Female,5.0
9,Marketing,Vikram Das,1981-11-25,Not Available,2017-11-25,Male,3.0
10,Sales,Anjali Menon,1981-11-26,58000.0,2017-11-26,Female,Not Available
11,HR,Deepak Reddy,1981-11-27,72000.0,2017-11-27,Male,3.0
12,IT,Swati Desai,1981-11-28,88000.0,2017-11-28,Female,5.0
13,Finance,Manish Tiwari,1981-11-29,135000.0,2017-11-29,Male,4.0
14,Marketing,Ritu Malhotra,1981-11-30,77000.0,2017-11-30,Female,3.0
15,IT,Kunal Bhatia,1981-12-01,92000.0,2017-12-01,Male,5.0
16,HR,Pooja Sinha,1981-12-02,68000.0,2017-12-02,Female,4.0
17,Sales,Nikhil Saxena,1981-12-03,59000.0,2017-12-03,Male,2.0
18,Finance,Tanya Roy,1981-12-04,Not Available,2017-12-04,Female,Not Available
19,IT,Aditya Chauhan,1981-12-05,85000.0,2017-12-05,Male,3.0
20,Marketing,Ishita Ghosh,1981-12-06,Not Available,2017-12-06,Female,4.0
21,HR,Varun Khanna,1981-11-16,74000.0,2017-12-07,Male,3.0
22,Sales,Rakesh Patil,1981-11-17,62000.0,2017-12-08,Male,2.0
23,Finance,Shruti Jain,1981-11-18,125000.0,2017-12-09,Female,5.0
24,IT,Mohit Agarwal,1981-11-19,95000.0,2017-12-10,Male,4.0
25,Marketing,Simran Kaur,1981-11-20,80000.0,2017-12-11,Female,3.0
26,HR,Arvind Mishra,1981-11-21,69000.0,2017-12-12,Male,Not Available
27,Sales,Neeraj Gupta,1981-11-22,60000.0,2017-12-13,Male,2.0
28,Finance,Aarti Pandey,1981-11-23,115000.0,2017-12-14,Female,Not Available
29,IT,Rahul Kapoor,1981-11-24,90000.0,2017-12-15,Male,4.0
30,Marketing,Divya Nair,1981-11-25,78000.0,2017-12-16,Female,3.0
31,HR,Sachin Yadav,1981-11-26,78000.0,2017-12-17,Female,3.0

In [101]:
df_2.dropna()  # Remove the rows that have NaN

,Department,Name,Date of Birth,Salary,Date of Joining,Gender,Rating
1,HR,Sneha Kapoor,1981-11-17,60000.0,2017-11-17,Female,5.0
2,Finance,Arjun Verma,1981-11-18,120000.0,2017-11-18,Male,3.0
4,IT,Neha Sharma,1981-11-20,95000.0,2017-11-20,Female,5.0
5,Sales,Amit Joshi,1981-11-21,55000.0,2017-11-21,Male,2.0
6,HR,Kavita Rao,1981-11-22,70000.0,2017-11-22,Female,3.0
8,IT,Meena Pillai,1981-11-24,65000.0,2017-11-24,Female,5.0
11,HR,Deepak Reddy,1981-11-27,72000.0,2017-11-27,Male,3.0
12,IT,Swati Desai,1981-11-28,88000.0,2017-11-28,Female,5.0
13,Finance,Manish Tiwari,1981-11-29,135000.0,2017-11-29,Male,4.0
14,Marketing,Ritu Malhotra,1981-11-30,77000.0,2017-11-30,Female,3.0
15,IT,Kunal Bhatia,1981-12-01,92000.0,2017-12-01,Male,5.0
16,HR,Pooja Sinha,1981-12-02,68000.0,2017-12-02,Female,4.0
17,Sales,Nikhil Saxena,1981-12-03,59000.0,2017-12-03,Male,2.0
19,IT,Aditya Chauhan,1981-12-05,85000.0,2017-12-05,Male,3.0
21,HR,Varun Khanna,1981-11-16,74000.0,2017-12-07,Male,3.0
22,Sales,Rakesh Patil,1981-11-17,62000.0,2017-12-08,Male,2.0
23,Finance,Shruti Jain,1981-11-18,125000.0,2017-12-09,Female,5.0
24,IT,Mohit Agarwal,1981-11-19,95000.0,2017-12-10,Male,4.0
25,Marketing,Simran Kaur,1981-11-20,80000.0,2017-12-11,Female,3.0
27,Sales,Neeraj Gupta,1981-11-22,60000.0,2017-12-13,Male,2.0
29,IT,Rahul Kapoor,1981-11-24,90000.0,2017-12-15,Male,4.0
30,Marketing,Divya Nair,1981-11-25,78000.0,2017-12-16,Female,3.0
31,HR,Sachin Yadav,1981-11-26,78000.0,2017-12-17,Female,3.0

In [102]:
df_2.rename(columns={"Department":"Dept.name" , "Name" : "Emp_name"})  # Rename the column name

,Dept.name,Emp_name,Date of Birth,Salary,Date of Joining,Gender,Rating
0,IT,Rohan Mehta,1981-11-16,NaN,2017-11-16,Male,4.0
1,HR,Sneha Kapoor,1981-11-17,60000.0,2017-11-17,Female,5.0
2,Finance,Arjun Verma,1981-11-18,120000.0,2017-11-18,Male,3.0
3,Marketing,Priya Singh,1981-11-19,NaN,2017-11-19,Female,NaN
4,IT,Neha Sharma,1981-11-20,95000.0,2017-11-20,Female,5.0
5,Sales,Amit Joshi,1981-11-21,55000.0,2017-11-21,Male,2.0
6,HR,Kavita Rao,1981-11-22,70000.0,2017-11-22,Female,3.0
7,Finance,Rajeev Nair,1981-11-23,NaN,2017-11-23,Male,4.0
8,IT,Meena Pillai,1981-11-24,65000.0,2017-11-24,Female,5.0
9,Marketing,Vikram Das,1981-11-25,NaN,2017-11-25,Male,3.0
10,Sales,Anjali Menon,1981-11-26,58000.0,2017-11-26,Female,NaN
11,HR,Deepak Reddy,1981-11-27,72000.0,2017-11-27,Male,3.0
12,IT,Swati Desai,1981-11-28,88000.0,2017-11-28,Female,5.0
13,Finance,Manish Tiwari,1981-11-29,135000.0,2017-11-29,Male,4.0
14,Marketing,Ritu Malhotra,1981-11-30,77000.0,2017-11-30,Female,3.0
15,IT,Kunal Bhatia,1981-12-01,92000.0,2017-12-01,Male,5.0
16,HR,Pooja Sinha,1981-12-02,68000.0,2017-12-02,Female,4.0
17,Sales,Nikhil Saxena,1981-12-03,59000.0,2017-12-03,Male,2.0
18,Finance,Tanya Roy,1981-12-04,NaN,2017-12-04,Female,NaN
19,IT,Aditya Chauhan,1981-12-05,85000.0,2017-12-05,Male,3.0
20,Marketing,Ishita Ghosh,1981-12-06,NaN,2017-12-06,Female,4.0
21,HR,Varun Khanna,1981-11-16,74000.0,2017-12-07,Male,3.0
22,Sales,Rakesh Patil,1981-11-17,62000.0,2017-12-08,Male,2.0
23,Finance,Shruti Jain,1981-11-18,125000.0,2017-12-09,Female,5.0
24,IT,Mohit Agarwal,1981-11-19,95000.0,2017-12-10,Male,4.0
25,Marketing,Simran Kaur,1981-11-20,80000.0,2017-12-11,Female,3.0
26,HR,Arvind Mishra,1981-11-21,69000.0,2017-12-12,Male,NaN
27,Sales,Neeraj Gupta,1981-11-22,60000.0,2017-12-13,Male,2.0
28,Finance,Aarti Pandey,1981-11-23,115000.0,2017-12-14,Female,NaN
29,IT,Rahul Kapoor,1981-11-24,90000.0,2017-12-15,Male,4.0
30,Marketing,Divya Nair,1981-11-25,78000.0,2017-12-16,Female,3.0
31,HR,Sachin Yadav,1981-11-26,78000.0,2017-12-17,Female,3.0

In [104]:
df.info()         # Show sstructure of dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Department       32 non-null     object
 1   Name             32 non-null     object
 2   Date of Birth    32 non-null     datetime64[ns]
 3   Salary           32 non-null     int64
 4   Date of Joining  32 non-null     datetime64[ns]
 5   Gender           32 non-null     object
 6   Rating           32 non-null     float64
dtypes: datetime64[ns](2), float64(1), int64(1), object(3)
memory usage: 1.9+ KB

In [105]:
df["Rating"] = df["Rating"].astype(float)   # Changes Datatype of an column

In [106]:
len(df)

32

In [111]:
# Creating a new column.
df["Zeroes"] = ["Zero"for i in range(len(df))]

In [128]:
# Use apply() for row-wise or column-wise custom calculations in DataFrames.
def product(a):
    return a *a

df["Double Salary"] = df["Salary"].apply(product)

In [126]:
df["Double Salary"] = df["Double Salary"].astype(int)    # Changes Datatype of an column

In [131]:
# .to_csv() is a common method to export pandas DataFrames for sharing data or for use with other programs that read CSV files.
df.to_csv("Export.csv",index=False)

In [139]:
df1 = pd.DataFrame({"Name" : ["Ash","Cecee","Rock","Rian","Misty"],
                    "Pokemon" : ["Pikachu","Richu","NineTails","Frogie","Garadose"],})
df2 = pd.DataFrame({"Name" : ["Paul","Anglie","Garry"],
                    "Pokemon" : ["Dragonite","JiglyPuff","Lucia"],})
df3 = pd.DataFrame({"Name" : ["Paul","Anglie","Garry"],
                    "Badge" : [12,4,6]})

In [138]:
pd.concat([df1,df2])

     Name    Pokemon
0     Ash    Pikachu
1   Cecee      Richu
2    Rock  NineTails
3    Rian     Frogie
4   Misty   Garadose
0    Paul  Dragonite
1  Anglie  JiglyPuff
2   Garry      Lucia

In [142]:
pd.merge(df3,df2,on="Name")

     Name  Badge    Pokemon
0    Paul     12  Dragonite
1  Anglie      4  JiglyPuff
2   Garry      6      Lucia